{% extends 'pages/base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
 {% for i in students %}

     <ul>
{#        <li>{{ i }} -----> {{ i.number }}</li>#}
         <a href = "{% url 'detail' i.id %}">
            <li>{{ i }} </li>
         </a>

     </ul>

    {% endfor %}
{#    <a href="{% url 'update' %}"><button>Update</button></a>#}
{#    <a href="{% url 'home' %}"><button>Home</button></a>#}
    <p> There are <span style="color: blue; font-size:23px ">{{ counts }}</span> person</p>
{% endblock content %}