{% extends 'base.html' %}

{% block title %}
Todo_list
{% endblock title %}

{% block content %}
<div>
    <h3> Todo List</h3>
     <ul>
         {% for i in todos %}
             <a href=" {% url 'update' i.id %}">
             {% if i.completed %}

                 <li><del>{{ i }}</del></li>
             {% else %}
                 <li>  {{ i }} </li>
                 </a>
             {% endif %}
         {% endfor %}
     </ul>
<a href="{% url 'create' %}"> <button> Create </button> </a>

</div>




{% endblock content %}